@import "node_modules/bootstrap/scss/bootstrap";

$blue: #0E233A;
$yellow: #F1C52E;

html, body {
    height: 100%;
}

body {
    background: white;
    padding: 0;
    font-family: "Roboto", helvetica;
    color: #272727;
}

nav {
    svg {
        width: 240px;
        height: 20px;
    }
}

.logo {
    width: 75px;
    max-height: 40px;
    overflow: hidden;
    padding: 0;
    margin: 0;

    img {
        width: 75px;
    }
}

.navbar {
    .dropdown-menu {
        a {
            color: black;
        }
    }
}

.news-items {
    img {
        width: 100%;
    }
}

.navbar {
    background-color: $blue;

    a {
        color: white;
        font-weight: 300;
    }

    .nav-item {
        margin-right: 20px;

        .nav-link {
            color: white;
        }
    }
}

.preview-image {
    max-width: 300px;
    margin-top: 1rem;
}

.main {
    position: relative;
    padding: 2rem;

    video {
        width: 100%;
    }

    h3 {
        color: $blue;
    }

    .overlay {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        height: 100%;

        img {
            width: 30%;
            top: 25%;
            position: relative;
        }
    }
}

section {
    padding: 6rem 2rem;
    color: #272727;
    position: relative;

    &.about-us {
        .image {
            margin-bottom: 1rem;
        }
    }

    &.portfolios, &.news-items {
        padding: 4rem 0;

        .role {
            img {
                margin-bottom: 1.5rem;
            }

            h3 {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
            }

            .user-controls {
                margin-bottom: 2rem;
            }
        }
    }

    &.news-items {

        img {
            height: 175px;
        }

        .cta {
            width: 100%;
            display: flex;

            a {
                background: white;
                color: $blue;
                padding: 10px;
                border-radius: 5px;
                margin: 0 auto;
            }
        }
    }

    .col-sm-12 {
        margin-bottom: 2rem;
    }

    .container {
        p, li, span, textarea {
            font-weight: 300;
            line-height: 34px;
        }

        p {
            margin-bottom: 2rem;
        }

        b {
            span {
                font-weight: bold;
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 4rem;
            font-size: 1.5rem;
            width: 100%;
        }

        h3 {
            margin-bottom: 4rem;
        }

        h5 {
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
        }
    }

    &.locations {
        padding: 0 2rem 3rem;
        background: #e6e4d9;

        .row {
            div {
                &:first-of-type {
                    margin-top: 6rem;
                }
            }
        }

        h2 {
            text-align: left;
        }

        .map {
            border-top: 1px solid #c5c3b8;
        }
    }
}

.hero {
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 350px;

    h1 {
        display: none;
    }

    h2 {
        color: white;
        font-size: 2rem;
        position: relative;
        top: 45%;
        z-index: 2;
    }

    img {
        width: 100%;
        margin: 0;
        position: absolute;
        top: -10%;
        z-index: 1;
    }

    .intro-caption {
        position: relative;
        top: 55%;
        z-index: 3;
    }

    &.job-heading {
        h2 {
            bottom: 0;
            top: inherit;
            color: black;
            background: white;
            padding: 1rem;
            margin-left: 15px;
            position: absolute;
        }
    }
}

.company {
    background: #ededed;

    .container {
        h3 {
            margin-bottom: 2rem;
        }
    }

    .image {
        position: relative;
        width: 100%;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 4px solid $blue;

        .company-logo {
            max-height: 45px;
            overflow: hidden;
            position: absolute;
            bottom: 2.5rem;
            left: 3%;
            width: 75px;
        }

        img {
            width: 100%;
        }
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .cta {
        width: 100%;
        display: flex;

        a {
            background: $blue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin: 0 auto;
        }
    }

    .row {
        &:first-of-type {
            margin-bottom: 4rem;
        }
    }
}

.news-items {
    background: #115a80;
    color: white;

    a {
        color: white;
    }
}

.custom-progress {
    width: 100%;
    display: none;
}

.center {
    margin: 0 auto;
}

.navbar-nav {
    margin-left: auto;

    &.navbar-right {
        li {
            padding: 10px 0;
        }

        img {
            max-width: 50px;
            border-radius: 100%;
            float: left;
        }

        a {
            float: left;
        }
    }
}

section {
    .container {
        .fr-view {
            p {
                margin-bottom: 0.5rem;
            }
        }
    }
}

.news-heading {
    position: relative;

    h2 {
        text-align: left;
        font-size: 3rem;
        position: absolute;
        bottom: 0;
        margin: 0;
        top: 0;
    }

    .user-controls {
        position: absolute;
        bottom: 0;
    }
}

.contact-us {
    background: $yellow;
    color: black;

    .container {
        h2 {
            text-align: left;
            font-size: 3rem;
        }

        h3 {}

        h4 {
            // font-size: 2.5rem;
       
        }

        hr {
            border-top: none;
        }
    }

    img {
        border: 10px solid #dcb52d;
    }
}

footer {
    background: #484848;
    position: relative;
    z-index: 20;

    section {
        color: white;

        a {
            color: white;
        }

        .col-md-3 {
            &:first-child {
                ul {
                    // border-top: none;
                }
            }
        }

        ul {
            list-style: none;
            border-top: 1px solid grey;
            padding: 2rem 0;

            li {
                margin-bottom: 0.5rem;
                a {
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    .mail-chimp {
        input {
            &[type="email"] {
                border-radius: 5px 0 0 5px;
                width: 83%;
                display: inline-block;
                margin: 0;
            }
        }

        button {
            background: $yellow;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0 5px 5px 0;
            display: inline-block;
            padding: 1px 0.4rem;
            border-bottom: 1px solid $yellow;
            width: 15%;
            position: relative;
            left: -5px;
            cursor: pointer;
        }

        .response {
            color: grey;
            font-size: 12px;
        }
    }
}

h1 {
    display: none;
}

#fake-nav {
    height: 56px;
    width: 100%;
    display: none;
}

.navbar {
    z-index: 10;

    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
}

.navbar-nav {
    margin-left: auto;

    &.navbar-right {
        li {
            padding: 10px 0;
        }

        img {
            max-width: 50px;
            border-radius: 100%;
            float: left;
        }

        a {
            float: left;
        }
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-right: 1rem;
}

.btn-primary {
    background: $blue;
    border: 1px solid $blue;
}

.user-controls {
    z-index: 10;
    position: relative;
    margin-bottom: 2rem;

    form {
        display: inline-block;
    }
}

.admin {
    padding: 1rem;
}

@include media-breakpoint-up(md) {
    .main {
        padding: 0;
    }

    section {
        .container {
            p {
                margin-bottom: 4rem;
            }
        }
    }
}


@include media-breakpoint-up(lg) {
    .contact-us {
        .container {
            h3 {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 2.5rem;
            }
        }
    }

    section {
        &.locations {
            .map {
                border-top: none;
            }
        }
    }
}