<section id="contact" class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Get In Touch</h2>
				<hr />
				<h4>1 Burwood Place,</h4>
				<h4>London,</h4>
				<h4>W2 2UT</h4>
				<hr />
				<h3>020 8068 6669</h3>
				<!-- <a href="https://www.google.com/maps/place/Soho+Square,+Soho,+London+W1D+3QL,+UK/data=!4m2!3m1!1s0x48761b2d2473783b:0xafc9884295525523?sa=X&ved=2ahUKEwiHqcaPhbXaAhUoDJoKHQTyB5IQ8gEwAHoECAAQJQ" target="_blank" class="btn blue"><i class="fas fa-map"></i>View Map</a> -->
			</div>
			<div class="col-md-6">
				<img src="https://allerton.s3.amazonaws.com/london.jpeg" />
			</div>
		</div>
	</div>
</section>
