<% include full-partials/header %>
    <section class="about-us terms">
        <div class="container">
            <div class="row">
                <h3>Allerton Group</h3>
                <p>Allerton Investments has access to significant private funding specifically designed to fund this specific model and provides this access. We can work with you on various different models the most common is where we have purchased the properties from a provider who wishes to concentrate on continuing to provide care for the service users without having to worry about maintenance or any other property related issue.</p>
				<p>We also work directly with Commissioners and purchase properties for providers working with that Local Authority.</p>
				<p>Our values:</p>
				<p>We are committed in working with our partners to deliver much needed housing in supported accommodation. At a time when budgets for vulnerable service users are being cut coupled with an increase in demand, our model has proven to be the most effective and sustained method of providing such housing. We have an excellent team of specialists that not only bring with them a wealth of experience in their respective fields, but also hold the same strong ethical moral values and beliefs the company is founded on.</p>
				<ul>
					<li>Pursuit of excellence</li>
					<li>Positive relationships</li>
					<li>Putting people first</li>
					<li>Responsibility</li>
					<li>Harmony of process</li>
					<li>Making a difference/being influential?</li>
				</ul>
            </div>
            <div class="row">
            	<div class="col-sm-12">
                	<h3>Allerton Investments</h3>
            	</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 1</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 2</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                	<h3>Allerton Care</h3>
            	</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 1</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 2</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
            </div>
             <div class="row">
                <div class="col-sm-12">
                	<h3>Allerton Housing</h3>
            	</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 1</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
                <div class="col-sm-12 col-md-4">
					<div class="image">
						<img src="https://allerton.s3.amazonaws.com/temp-profile.png" />
					</div>
					<h5>Name 2</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus elit non metus vulputate dictum a aliquet est. Ut malesuada porta dolor eu lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla vel luctus est. Nullam rhoncus consectetur sagittis.</p>
				</div>
            </div>
        </div>
    </section>
<% include full-partials/contact %>
<% include full-partials/footer %>