<% include full-partials/header %>
<section class="terms">
	<div class="container">
		<div class="row">
			<h2>Privacy Policy</h2>
			<p>This privacy notice is issued on behalf of the Allerton Group of companies. Each company is a controller and responsible for website privacy in relation to its own users. (&ldquo;Allerton&rdquo;) (comprising of are committed to protecting the privacy of users of our sites. Set out below is our policy regarding information we receive from the users of this website.</p>
			<p>Allerton respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you visit our website (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.&nbsp;</p>
			<p>This privacy notice aims to give you information on how Allerton collects and processes your personal data through your use of this website, including any data you may provide through this website when you sign up to our newsletter, purchase a product or service or take part in a competition.</p>
			<p>This website is not intended for children and we do not knowingly collect data relating to children.</p>
			<p>It is important that you read this privacy notice together with any other privacy notice or fair processing notice we may provide on specific occasions when we are collecting or processing personal data about you so that you are fully aware of how and why we are using your data. This privacy notice supplements the other notices and is not intended to override them.</p>
			<p><strong>Controller</strong></p>
			<p>Allerton Investments Limited is the controller and responsible for your personal data.</p>
			<p>We have appointed a data protection officer (DPO) who is responsible for overseeing questions in relation to this privacy notice. If you have any questions about this privacy notice, please contact the DPO using the details set out below.&nbsp;</p>
			<p>The organisation is registered with the ICO as a Data Controller under the current Data Protection Act and General Data Protection Regulations 2018 The registration details</p>
			<p>can be viewed online in the public register at <a href="http://www.ico.gov.uk/">http://www.ico.gov.uk/</a></p>
			<p>The Controller of the Website is <strong>Allerton Investments Limited</strong>. We are responsible for your personal data.</p>
			<p>Allerton Group has appointed a Data Protection Officer who is responsible for overseeing questions on this privacy notice. If you have any queries regarding the privacy notice or your legal rights, please contact</p>
			<p><strong>The Data Controller,&nbsp;</strong>Allerton Group, 1 Burwood Place, London, W2 2UT.</p>
			<p>You have the right to make a complaint at any time to the Information Commissioner&#39;s Office (ICO), the UK supervisory authority for data protection issues (<em>www.ico.org.uk</em>). We would, however, appreciate the chance to deal with your concerns before you approach the ICO so please contact us in the first instance.&nbsp;</p>
			<p>It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.</p>
			<p><strong>3.The Type of Information we collect</strong></p>
			<p>Personal data or information we might collect means any information by which you can be identified. We may collect the following data.</p>
			<ul>
				<li>Identity data including name, address and email address</li>
				<li>Where we need to collect personal data by law</li>
				<li>Where we a contract which requires personal data to be supplied, we may not be able to provide a service</li>
			</ul>
			<p>We also may collect use or share Aggregated Data such as statistical or demographic data. Aggregated Data is not considered Personal Data in law because it does not directly or indirectly identify you.</p>
			<p><strong>4.How your personal data is collected</strong></p>
			<ul>
				<li>Direct interactions, for example in requesting information on services which we provide</li>
				<li>Automated technologies or interactions or &lsquo;cookies&rsquo;</li>
			</ul>
			<p><strong>5.How we use your personal data</strong></p>
			<p>We will only use your personal data</p>
			<ul>
				<li>Where the law allows us to</li>
				<li>Where you have entered into a contract for provision of services</li>
				<li>Where it is necessary for your legitimate interests or those of a third party and their interests and fundamental rights do not over ride those interests</li>
				<li>Where we need to comply with a legal or regulatory obligation</li>
			</ul>
			<p>We may process on your data on more than one legal ground.</p>
			<p><strong>7.Protection of your data</strong></p>
			<p>Unless you have given your consent, none of the data that we obtain will be provided to third party organisations in anything other than aggregate statistical form.</p>
			<p>It is not our policy to pass on personal information about our users to third parties unless you have given your consent.</p>
			<p>All data collected from users is protected against unauthorised access. As required by <strong>the General Data Protection Regulations 2018,</strong> we follow strict security procedures in the storage and disclosure of information that you have given to us, in order to prevent, as far as possible, any unauthorised access.</p>
			<p><strong>8.Change of Purpose</strong></p>
			<p>We will only use your personal data for the purposes for which we collected it, unless we reasonably need to use it for another reason that is compatible with the original purpose. If we need to use your data for an unrelated purpose we will contact you to explain</p>
			<p><strong>9.Sharing of data</strong></p>
			<p>We may share your data with other parts of the Allerton Group of companies. We ensure that your data is protected by requiring all companies within the Allerton Group to follow the same rules when processing your personal data.</p>
			<p>Companies within Allerton Group may share data within the law where required for protection of vulnerable persons or provision of support services.</p>
			<p>We may share your information with internal and external third parties to whom we chose to sell merge or transfer parts of our business or assets; or for provision of services requested to individual service users.</p>
			<p><strong>10.Transfer of Data</strong></p>
			<p>We will only transfer data to other countries that have been deemed to provide an adequate level of protection for personal data by the European Commission.</p>
			<p><strong>11.Protection of your data</strong></p>
			<p>We require all third parties to respect the security of your personal data and treat in in accordance with the law . We do not allow third party service providers to use your personal data other than where it is required by law, where it is necessary to administer the working relationship with an individual or where there is another legitimate interest in doing so.</p>
			<p><strong>12.Data Retention</strong></p>
			<p>We will only retain your personal data for as long as necessary to fulfil the purpose it was collected from, including the purpose of satisfying any legal accounting or reporting requirements. To determine the appropriate retention period we consider the amount , nature and sensitivity of the personal data , the potential risk of harm for unauthorised use or disclosure , the purposes for which we process your personal data and whether that purpose can be achieved through other means, and applicable legal requirements .</p>
			<p>By law we have to keep basic information about customers including contact, identity, financial a transaction data.</p>
			<p>In some circumstances personal information may be anonymised so that it can no longer be associated with an individual, in which case it may be used without further notice to the individual.</p>
			<p><strong>13.Your legal rights</strong></p>
			<p>Under the GDPR you have the following rights over your data and its use:</p>
			<ul>
				<li>The right to be informed about what data ewe are collecting on you and how we will use it</li>
				<li>The right of access &ndash; to see the data we hold on you</li>
				<li>The fright to rectification &ndash; that we update or correct your persona data</li>
				<li>The right to object &ndash; you can ask us to stop using your data for a particular purpose</li>
				<li>The right to erasure &ndash; you can ask us to delete data we hold on you</li>
				<li>The right to restrict processing &ndash; you can ask us to temporarily stop using your data while the reason for its use or its accuracy are investigated</li>
				<li>The right to stop automated decision making</li>
				<li>The right to portability of data</li>
				<li>The Information Commissioner office website gives more information on your rights as a data subject</li>
			</ul>
			<p><strong>14.Changes to our Privacy Policy</strong></p>
			<p>In the event that we decide to change our policy, we will post these changes on this page so that you can be aware of what information we collect, how we use it and when we disclose. <strong>&nbsp;</strong></p>
			<p><strong>15.Queries and complaints</strong></p>
			<p>If you have any queries about how we use your data please contact the Data protection Officer at Allerton Group.</p>
			<p>Queries and complaints including data subject requests will be responded within 30 days. If we are unable to respond within this period we will contact you to explain why.</p>
			<p><strong>Allerton Group, 1 Burwood Place, London, W2 2UT.</strong></p>
			<p>If you are still unhappy following a review by the organisation you can then complain to the Information Commissioners Office (ICO) via their website <a href="http://www.ico.org.uk/">www.ico.org.uk</a></p>
			<p>or in writing to: &ndash;</p>
			<p>Information Commissioner&rsquo;s Office
				<br>Wycliffe House
				<br>Water Lane
				<br>Wilmslow
				<br>Cheshire
			<br>SK9 5AF</p>
		</div>
	</div>
</section>
<% include full-partials/contact %>
<% include full-partials/footer %>